# **(ADD THE NOTEBOOK NAME HERE)**

## Objectives

* Write your notebook objective here, for example, "Fetch data from Kaggle and save as raw data", or "engineer features for modelling"

## Inputs

* Write down which data or information you need to run the notebook 

## Outputs

* Write here which files, code or artefacts you generate by the end of the notebook 

## Additional Comments

* If you have any additional comments that don't fit in the previous bullets, please state them here.

---

# Change working directory

* We are assuming you will store the notebooks in a subfolder, therefore when running the notebook in the editor, you will need to change the working directory

We need to change the working directory from its current folder to its parent folder
* We access the current directory with os.getcwd()

In [1]:
import os
current_dir = os.getcwd()
current_dir

'/workspace/RetailSalesRework/jupyter_notebooks'

We want to make the parent of the current directory the new current directory
* os.path.dirname() gets the parent directory
* os.chir() defines the new current directory

In [2]:
os.chdir('/workspace/RetailSalesRework')
print("You set a new current directory")

You set a new current directory

Confirm the new current directory

In [3]:
current_dir = os.getcwd()
current_dir

'/workspace/RetailSalesRework'

# Section 1

Section 1 content

In [7]:
import kagglehub

kaggle kernels pull ahmdayman/retail-sales-dataset

SyntaxError: invalid syntax (3845708063.py, line 3)

In [9]:
kagglehub.login()

VBox(children=(HTML(value='<center> <img\nsrc=https://www.kaggle.com/static/images/site-logo.png\nalt=\'Kaggle…

Kaggle credentials set.
Kaggle credentials successfully validated.

In [13]:
kagglehub.dataset_download("manjeetsingh/retaildataset")

Downloading from https://www.kaggle.com/api/v1/datasets/download/manjeetsingh/retaildataset?dataset_version_number=2...

100%|██████████| 3.11M/3.11M [00:00<00:00, 5.06MB/s]

Extracting files...

'/home/gitpod/.cache/kagglehub/datasets/manjeetsingh/retaildataset/versions/2'

In [19]:
os.listdir('/home/gitpod/.cache/kagglehub/datasets/manjeetsingh/retaildataset/versions/2/')

['Features data set.csv', 'sales data-set.csv', 'stores data-set.csv']

In [21]:
import pandas as pd
Features_df = pd.read_csv('/home/gitpod/.cache/kagglehub/datasets/manjeetsingh/retaildataset/versions/2/Features data set.csv')
Stores_df = pd.read_csv('/home/gitpod/.cache/kagglehub/datasets/manjeetsingh/retaildataset/versions/2/stores data-set.csv')
Sales_df = pd.read_csv('/home/gitpod/.cache/kagglehub/datasets/manjeetsingh/retaildataset/versions/2/sales data-set.csv')

In [25]:
Sales_df = pd.merge(Sales_df, Stores_df, how='left', on='Store')
Sales_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 421570 entries, 0 to 421569
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         421570 non-null  int64
 1   Dept          421570 non-null  int64
 2   Date          421570 non-null  object
 3   Weekly_Sales  421570 non-null  float64
 4   IsHoliday     421570 non-null  bool
 5   Type          421570 non-null  object
 6   Size          421570 non-null  int64
dtypes: bool(1), float64(1), int64(3), object(2)
memory usage: 22.9+ MB

In [34]:
Sales_df.groupby(['Type', 'IsHoliday', 'Dept']).Weekly_Sales.agg(['mean', 'median', 'std', 'count', 'var'])

                             mean     median           std  count  \
Type IsHoliday Dept
A    False     1     22898.516986  18600.760  16801.047742   2926
               2     52119.305991  51984.490  22457.988307   2926
               3     13851.535150  11067.940  13160.982257   2926
               4     32897.110010  31528.595  13208.871090   2926
               5     25814.567522  22617.240  18348.066541   2897
...                           ...        ...           ...    ...
C    True      95    48848.402500  46053.200  15201.485158     60
               96    17746.282333  18240.660   8989.265973     60
               97    12974.472333  12441.255   4945.042989     60
               98     6643.644833   5587.260   3834.065722     60
               99        0.020000      0.020           NaN      1

                              var
Type IsHoliday Dept
A    False     1     2.822752e+08
               2     5.043612e+08
               3     1.732115e+08
               4     1.744743e+08
               5     3.366515e+08
...                           ...
C    True      95    2.310852e+08
               96    8.080690e+07
               97    2.445345e+07
               98    1.470006e+07
               99             NaN

[447 rows x 5 columns]

---

# Section 2

Section 2 content

---

NOTE

* You may add as many sections as you want, as long as it supports your project workflow.
* All notebook's cells should be run top-down (you can't create a dynamic wherein a given point you need to go back to a previous cell to execute some task, like go back to a previous cell and refresh a variable content)

---

# Push files to Repo

* In cases where you don't need to push files to Repo, you may replace this section with "Conclusions and Next Steps" and state your conclusions and next steps.

In [ ]:
import os
try:
  # create your folder here
  # os.makedirs(name='')
except Exception as e:
  print(e)